<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" id="upload-form">
        {% csrf_token %}


        <select name="language" id="language">
            <option value="es">es</option>
            <option value="en">en</option>
        </select>

        <select name="model" id="model">
            <option value="tiny">tiny</option>
            <option value="base">base</option>
            <option value="small">small</option>
            <option value="medium">medium</option>
            <option value="large">large</option>
            <option value="large-v3">large-v3</option>
        </select>

        <input type="checkbox" name="preprocess" id="preprocess" checked>
        <label for="preprocess">Preprocesar</label>

        <!-- Permitir múltiples archivos -->
        <input type="file" name="files" id="files" multiple>

        <p><input type="submit" value="Procesar Audio"/></p>
        
    </form>
    
</body>

</html>